extends page

block content
  div.container
    h1= book.title
    embed(src='/' + book.file, width='100%', height='680', alt='pdf', pluginspage='http://www.adobe.com/products/acrobat/readstep2.html')
