//page.pug

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/public/main.css')
    if pageTitle
      title= pageTitle
    else
      title Presentation
  body
    header
      div.container
        div.menu
          a(href='/') home
          a(href='/books') books

    div.site-content
      block content
        p put your content here

    footer
      div.container
        span #[em Hieu Tran &copy; 2018]

    block scripts
      script(src='/public/jquery.js')
      script(src='/public/main.js')
